.header {
    position: relative;
}
.img2 {
    max-height: 100px;
    position: absolute
}
.title1 {
    width:100%;
    text-align: center;
    padding-top: 8px
}
.title2 {
    background: goldenrod;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}
.rule {
    width: 100%;
    display: flex;
}
.rule1 {
    width: 50%;
    padding-left: 20px;
    background-color: #f1ceb8d8;
}
.rule2 {
    width: 50%;
    padding-left: 20px;
    background-color: #efe8c5d8;
}
.rule3 {
    font-weight: 1000;
}
.kekka3{
    text-align: center;
    font-size: 22px;
    font-weight: 1000;
}
.kekka{
    display: flex;
    justify-content: center;

}
.kekka1
{
    padding-left: 30px;
    width: 300px;
    background-color: rgb(233, 238, 225);
}
.kekka2{
    height: 376px;
    width: 732px; 
    background-color: rgb(233, 238, 225);
    position: relative;
}
.kekka4{
    height: 376px;
    width: 732px; 
    position: absolute;
    top: 0;
    left: 0;
}
.input1{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;    
}
/* #AAA{
    margin: 0 auto;
    width: 450px; */
/* } */
#AAA{
    margin-top: 60px;
    text-align: center;
}
.Foot {
    width: 100%;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
}
span{
    display: inline-block;
    min-width: 140px;
    text-align: right;
}
